In [22]:
import pandas as pd
import numpy as np
import docx2csv
import json, collections
from pandas.io.json import json_normalize
import os

In [23]:
#!pip install docx2csv

In [2]:
outfiles1=pd.read_csv('Assignment2_OutFile1.csv')

In [3]:
outfiles1

,0,1,2,3
0,Calibration Curve Parameters for ADS-003 (Low ...,Calibration Curve Parameters for ADS-003 (Low ...,Calibration Curve Parameters for ADS-003 (Low ...,Calibration Curve Parameters for ADS-003 (Low ...
1,Batch No.,Slope,Intercept,R-Squared
2,1,11711.2,506.888,0.9945
3,2,11457.1,1803.03,0.9950
4,3,11408.5,1295.95,0.9936
5,4,11377.2,2722.74,0.9941
6,5,10491.5,1924.29,0.9921
7,6,12321.7,3489.67,0.9944
8,7,10952.6,2190.93,0.9932
9,8,10583.7,3125.67,0.9931
10,9,10794.4,2676.03,0.9912
11,10,10373.4,2352.47,0.9923
12,11,10538.8,2847.17,0.9923
13,12,10086.2,2360.19,0.9912
14,Mean,11008,2274.59,0.9931
15,SD,652.741,816.788,0.0013
16,%CV,5.93,35.91,0.13
17,n,12,12,12
18,NaN,NaN,NaN,NaN

In [4]:
outfiles2=pd.read_csv('Assignment2_OutFile2.csv')

In [5]:
outfiles2

,0,1,2,3
0,Calibration Curve Parameters for ADS-003 (High...,Calibration Curve Parameters for ADS-003 (High...,Calibration Curve Parameters for ADS-003 (High...,Calibration Curve Parameters for ADS-003 (High...
1,Batch No.,Slope,Intercept,R-Squared
2,13,14.5261,-884.474,0.9978
3,14,14.3984,-911.506,0.9977
4,Mean,14.4623,-897.99,0.9978
5,n,2,2,2

In [95]:
from docx2csv import extract_tables, extract
table = extract_tables('Assignment2_Input_File.docx')

In [96]:
tables=[]
for i in table[0]:
    l = [x.decode('UTF8') for x in i]
    tables.append(l)

In [97]:
tables

[['TABLE1 (Low Range)',
  'TABLE1 (Low Range)',
  'TABLE1 (Low Range)',
  'TABLE1 (Low Range)'],
 ['Batch No.', 'Slope', 'Intercept', 'R-Squared'],
 ['1', '11711.2', '506.888', '0.9945'],
 ['2', '11457.1', '1803.03', '0.9950'],
 ['3', '11408.5', '1295.95', '0.9936'],
 ['4', '11377.2', '2722.74', '0.9941'],
 ['5', '10491.5', '1924.29', '0.9921'],
 ['6', '12321.7', '3489.67', '0.9944'],
 ['7', '10952.6', '2190.93', '0.9932'],
 ['8', '10583.7', '3125.67', '0.9931'],
 ['9', '10794.4', '2676.03', '0.9912'],
 ['10', '10373.4', '2352.47', '0.9923'],
 ['11', '10538.8', '2847.17', '0.9923'],
 ['12', '10086.2', '2360.19', '0.9912'],
 ['Mean', '11008', '2274.59', '0.9931'],
 ['SD', '652.741', '816.788', '0.0013'],
 ['%CV', '5.93', '35.91', '0.13'],
 ['n', '12', '12', '12'],
 ['', '', '', ''],
 ['TABLE2 (High Range)',
  'TABLE2 (High Range)',
  'TABLE2 (High Range)',
  'TABLE2 (High Range)'],
 ['Batch No.', 'Slope', 'Intercept', 'R-Squared'],
 ['13', '14.5261', '-884.474', '0.9978'],
 ['14', '14.3984', '-911.506', '0.9977'],
 ['Mean', '14.4623', '-897.99', '0.9978'],
 ['n', '2', '2', '2']]

In [98]:
tables=pd.DataFrame(tables)

In [99]:
tables

,0,1,2,3
0,TABLE1 (Low Range),TABLE1 (Low Range),TABLE1 (Low Range),TABLE1 (Low Range)
1,Batch No.,Slope,Intercept,R-Squared
2,1,11711.2,506.888,0.9945
3,2,11457.1,1803.03,0.9950
4,3,11408.5,1295.95,0.9936
5,4,11377.2,2722.74,0.9941
6,5,10491.5,1924.29,0.9921
7,6,12321.7,3489.67,0.9944
8,7,10952.6,2190.93,0.9932
9,8,10583.7,3125.67,0.9931
10,9,10794.4,2676.03,0.9912
11,10,10373.4,2352.47,0.9923
12,11,10538.8,2847.17,0.9923
13,12,10086.2,2360.19,0.9912
14,Mean,11008,2274.59,0.9931
15,SD,652.741,816.788,0.0013
16,%CV,5.93,35.91,0.13
17,n,12,12,12
18,,,,
19,TABLE2 (High Range),TABLE2 (High Range),TABLE2 (High Range),TABLE2 (High Range)
20,Batch No.,Slope,Intercept,R-Squared
21,13,14.5261,-884.474,0.9978
22,14,14.3984,-911.506,0.9977
23,Mean,14.4623,-897.99,0.9978
24,n,2,2,2

In [100]:
outfiles1=tables.iloc[:19]

In [101]:
outfiles1.to_csv('outfiles1.csv')

In [102]:
outfiles2=tables.iloc[:-19]

In [103]:
outfiles2.to_csv('outfiles2.csv')

In [104]:
outfiles1

,0,1,2,3
0,TABLE1 (Low Range),TABLE1 (Low Range),TABLE1 (Low Range),TABLE1 (Low Range)
1,Batch No.,Slope,Intercept,R-Squared
2,1,11711.2,506.888,0.9945
3,2,11457.1,1803.03,0.9950
4,3,11408.5,1295.95,0.9936
5,4,11377.2,2722.74,0.9941
6,5,10491.5,1924.29,0.9921
7,6,12321.7,3489.67,0.9944
8,7,10952.6,2190.93,0.9932
9,8,10583.7,3125.67,0.9931
10,9,10794.4,2676.03,0.9912
11,10,10373.4,2352.47,0.9923
12,11,10538.8,2847.17,0.9923
13,12,10086.2,2360.19,0.9912
14,Mean,11008,2274.59,0.9931
15,SD,652.741,816.788,0.0013
16,%CV,5.93,35.91,0.13
17,n,12,12,12
18,,,,